{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<nav aria-label="breadcrumb" class="m-3 p-3">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'profile' %}"><i class="fa fa-user-o" aria-hidden="true"></i>  Profile</a></li>
		<li class="breadcrumb-item"><a href="{% url 'settings' %}"><i class="fa fa-cog" aria-hidden="true"></i>  Settings</a></li>
		<li class="breadcrumb-item active" aria-current="page">Change Password</li>
	  </ol>
	</nav>
	<div class="container text-center align-middle mt-1 pb-3 px-2" style="background: ghostwhite; padding: 20px; border-radius: 10px">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
	</div>
{% endblock %}
